#import file to python with the help of pandas

In [3]:
import pandas as pd
data=pd.read_csv("C:/Users/tarun/Downloads/Outlet.csv")
data.head(5)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [4]:
data.tail(5)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
8518,FDF22,6.865,Low Fat,0.056783,Snack Foods,214.5218,OUT013,1987,High,Tier 3,Supermarket Type1,2778.3834
8519,FDS36,8.380,Regular,0.046982,Baking Goods,108.1570,OUT045,2002,NaN,Tier 2,Supermarket Type1,549.2850
8520,NCJ29,10.600,Low Fat,0.035186,Health and Hygiene,85.1224,OUT035,2004,Small,Tier 2,Supermarket Type1,1193.1136
8521,FDN46,7.210,Regular,0.145221,Snack Foods,103.1332,OUT018,2009,Medium,Tier 3,Supermarket Type2,1845.5976
8522,DRG01,14.800,Low Fat,0.044878,Soft Drinks,75.4670,OUT046,1997,Small,Tier 1,Supermarket Type1,765.6700

In [ ]:
#waching data's rows and column

In [4]:
data.shape # syntax to watch datas rows and columns

(8523, 12)

In [8]:
data.info() # collect datas info / columns/ keys

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [9]:
data.describe() # describing data

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales
count,7060.000000,8523.000000,8523.000000,8523.000000,8523.000000
mean,12.857645,0.066132,140.992782,1997.831867,2181.288914
std,4.643456,0.051598,62.275067,8.371760,1706.499616
min,4.555000,0.000000,31.290000,1985.000000,33.290000
25%,8.773750,0.026989,93.826500,1987.000000,834.247400
50%,12.600000,0.053931,143.012800,1999.000000,1794.331000
75%,16.850000,0.094585,185.643700,2004.000000,3101.296400
max,21.350000,0.328391,266.888400,2009.000000,13086.964800

In [10]:
data.keys()

Index(['Item_Identifier', 'Item_Weight', 'Item_Fat_Content', 'Item_Visibility',
       'Item_Type', 'Item_MRP', 'Outlet_Identifier',
       'Outlet_Establishment_Year', 'Outlet_Size', 'Outlet_Location_Type',
       'Outlet_Type', 'Item_Outlet_Sales'],
      dtype='object')

In [9]:
df=data.groupby('Item_Type')['Item_Outlet_Sales'].sum()
list1=df.sort_values(ascending=False).head(10)
list1

Item_Type
Fruits and Vegetables    2.820060e+06
Snack Foods              2.732786e+06
Household                2.055494e+06
Frozen Foods             1.825735e+06
Dairy                    1.522594e+06
Canned                   1.444151e+06
Baking Goods             1.265525e+06
Health and Hygiene       1.045200e+06
Meat                     9.175656e+05
Soft Drinks              8.928977e+05
Name: Item_Outlet_Sales, dtype: float64



#set the index to 'Item_Identifier' and 'Outlet_Identifier', don't make it permanent

In [6]:
data.set_index

<bound method DataFrame.set_index of      Item_Identifier  Item_Weight Item_Fat_Content  Item_Visibility  \
0              FDA15        9.300          Low Fat         0.016047
1              DRC01        5.920          Regular         0.019278
2              FDN15       17.500          Low Fat         0.016760
3              FDX07       19.200          Regular         0.000000
4              NCD19        8.930          Low Fat         0.000000
...              ...          ...              ...              ...
8518           FDF22        6.865          Low Fat         0.056783
8519           FDS36        8.380          Regular         0.046982
8520           NCJ29       10.600          Low Fat         0.035186
8521           FDN46        7.210          Regular         0.145221
8522           DRG01       14.800          Low Fat         0.044878

                  Item_Type  Item_MRP Outlet_Identifier  \
0                     Dairy  249.8092            OUT049
1               Soft Drinks   48.2692            OUT018
2                      Meat  141.6180            OUT049
3     Fruits and Vegetables  182.0950            OUT010
4                 Household   53.8614            OUT013
...                     ...       ...               ...
8518            Snack Foods  214.5218            OUT013
8519           Baking Goods  108.1570            OUT045
8520     Health and Hygiene   85.1224            OUT035
8521            Snack Foods  103.1332            OUT018
8522            Soft Drinks   75.4670            OUT046

      Outlet_Establishment_Year Outlet_Size Outlet_Location_Type  \
0                          1999      Medium               Tier 1
1                          2009      Medium               Tier 3
2                          1999      Medium               Tier 1
3                          1998         NaN               Tier 3
4                          1987        High               Tier 3
...                         ...         ...                  ...
8518                       1987        High               Tier 3
8519                       2002         NaN               Tier 2
8520                       2004       Small               Tier 2
8521                       2009      Medium               Tier 3
8522                       1997       Small               Tier 1

            Outlet_Type  Item_Outlet_Sales
0     Supermarket Type1          3735.1380
1     Supermarket Type2           443.4228
2     Supermarket Type1          2097.2700
3         Grocery Store           732.3800
4     Supermarket Type1           994.7052
...                 ...                ...
8518  Supermarket Type1          2778.3834
8519  Supermarket Type1           549.2850
8520  Supermarket Type1          1193.1136
8521  Supermarket Type2          1845.5976
8522  Supermarket Type1           765.6700

[8523 rows x 12 columns]>


#select the Item_Identifier, Item_Fat_Content, Item_Type and Item_MRP with only 100 rows

In [21]:
data['Item_Identifier'],['Item_Fat_Content'],['Item_Type']

(0       FDA15
 1       DRC01
 2       FDN15
 3       FDX07
 4       NCD19
         ...
 8518    FDF22
 8519    FDS36
 8520    NCJ29
 8521    FDN46
 8522    DRG01
 Name: Item_Identifier, Length: 8523, dtype: object,
 ['Item_Fat_Content'],
 ['Item_Type'])

#select all the 
#print the first 100 rows and all columns except Item_Outlet_Sales

```hint:``` use iloc

In [4]:
import pandas as pd
data=pd.read_csv("C:/Users/tarun/Downloads/Outlet.csv")
data

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
...,...,...,...,...,...,...,...,...,...,...,...,...
8518,FDF22,6.865,Low Fat,0.056783,Snack Foods,214.5218,OUT013,1987,High,Tier 3,Supermarket Type1,2778.3834
8519,FDS36,8.380,Regular,0.046982,Baking Goods,108.1570,OUT045,2002,NaN,Tier 2,Supermarket Type1,549.2850
8520,NCJ29,10.600,Low Fat,0.035186,Health and Hygiene,85.1224,OUT035,2004,Small,Tier 2,Supermarket Type1,1193.1136
8521,FDN46,7.210,Regular,0.145221,Snack Foods,103.1332,OUT018,2009,Medium,Tier 3,Supermarket Type2,1845.5976
8522,DRG01,14.800,Low Fat,0.044878,Soft Drinks,75.4670,OUT046,1997,Small,Tier 1,Supermarket Type1,765.6700

In [5]:

df=data.drop('Item_Outlet_Sales',axis=1)
df.head(100)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1
...,...,...,...,...,...,...,...,...,...,...,...
95,FDU04,NaN,Low Fat,0.009715,Frozen Foods,120.0414,OUT019,1985,Small,Tier 1,Grocery Store
96,FDF41,12.15,Low Fat,0.131384,Frozen Foods,246.0460,OUT049,1999,Medium,Tier 1,Supermarket Type1
97,FDB56,8.75,Regular,0.074613,Fruits and Vegetables,187.4556,OUT035,2004,Small,Tier 2,Supermarket Type1
98,NCP18,NaN,Low Fat,0.028460,Household,149.9708,OUT027,1985,Medium,Tier 3,Supermarket Type3
99,FDB56,8.75,Regular,0.074627,Fruits and Vegetables,187.8556,OUT046,1997,Small,Tier 1,Supermarket Type1



#Filter the Item_Fat_Content with Low Fat, Item_MRP should be more than 200 and and less than equal to 250, Outlet_Size should be medium

In [6]:

# Assuming your DataFrame is named df
filtered_df = df[
    (df['Item_Fat_Content'] == 'Low Fat') & 
    (df['Item_MRP'] > 200) & 
    (df['Item_MRP'] <= 250) & 
    (df['Outlet_Size'] == 'Medium')
]

print(filtered_df)

     Item_Identifier  Item_Weight Item_Fat_Content  Item_Visibility  \
0              FDA15        9.300          Low Fat         0.016047
55             FDK21        7.905          Low Fat         0.010053
60             FDM20       10.000          Low Fat         0.000000
96             FDF41       12.150          Low Fat         0.131384
104            FDP09       19.750          Low Fat         0.034028
...              ...          ...              ...              ...
8301           FDH41          NaN          Low Fat         0.081614
8308           FDP16       18.600          Low Fat         0.039455
8347           FDB10       10.000          Low Fat         0.067313
8356           FDN45          NaN          Low Fat         0.117531
8451           FDK21        7.905          Low Fat         0.010028

                  Item_Type  Item_MRP Outlet_Identifier  \
0                     Dairy  249.8092            OUT049
55              Snack Foods  249.0408            OUT018
60    Fruits and Vegetables  246.9144            OUT018
96             Frozen Foods  246.0460            OUT049
104             Snack Foods  212.0902            OUT018
...                     ...       ...               ...
8301           Frozen Foods  214.7534            OUT027
8308           Frozen Foods  244.0802            OUT018
8347            Snack Foods  234.3590            OUT049
8356            Snack Foods  222.7088            OUT027
8451            Snack Foods  249.6408            OUT049

      Outlet_Establishment_Year Outlet_Size Outlet_Location_Type  \
0                          1999      Medium               Tier 1
55                         2009      Medium               Tier 3
60                         2009      Medium               Tier 3
96                         1999      Medium               Tier 1
104                        2009      Medium               Tier 3
...                         ...         ...                  ...
8301                       1985      Medium               Tier 3
8308                       2009      Medium               Tier 3
8347                       1999      Medium               Tier 1
8356                       1985      Medium               Tier 3
8451                       1999      Medium               Tier 1

            Outlet_Type
0     Supermarket Type1
55    Supermarket Type2
60    Supermarket Type2
96    Supermarket Type1
104   Supermarket Type2
...                 ...
8301  Supermarket Type3
8308  Supermarket Type2
8347  Supermarket Type1
8356  Supermarket Type3
8451  Supermarket Type1

[197 rows x 11 columns]


In the above question, consider Outlet_Size 'High' and 'Medium' both
<br> **Hint** use ```isin``` condition

In [23]:


# Assuming your DataFrame is named df
filtered_df = df[
    (df['Item_Fat_Content'] == 'Low Fat') & 
    (df['Item_MRP'] > 200) & 
    (df['Item_MRP'] <= 250) & 
    (df['Outlet_Size'].isin(['High', 'Medium']))
]

filtered_df

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1
55,FDK21,7.905,Low Fat,0.010053,Snack Foods,249.0408,OUT018,2009,Medium,Tier 3,Supermarket Type2
60,FDM20,10.000,Low Fat,0.000000,Fruits and Vegetables,246.9144,OUT018,2009,Medium,Tier 3,Supermarket Type2
96,FDF41,12.150,Low Fat,0.131384,Frozen Foods,246.0460,OUT049,1999,Medium,Tier 1,Supermarket Type1
104,FDP09,19.750,Low Fat,0.034028,Snack Foods,212.0902,OUT018,2009,Medium,Tier 3,Supermarket Type2
...,...,...,...,...,...,...,...,...,...,...,...
8319,NCX30,16.700,Low Fat,0.026598,Household,245.8776,OUT013,1987,High,Tier 3,Supermarket Type1
8347,FDB10,10.000,Low Fat,0.067313,Snack Foods,234.3590,OUT049,1999,Medium,Tier 1,Supermarket Type1
8356,FDN45,NaN,Low Fat,0.117531,Snack Foods,222.7088,OUT027,1985,Medium,Tier 3,Supermarket Type3
8451,FDK21,7.905,Low Fat,0.010028,Snack Foods,249.6408,OUT049,1999,Medium,Tier 1,Supermarket Type1
8518,FDF22,6.865,Low Fat,0.056783,Snack Foods,214.5218,OUT013,1987,High,Tier 3,Supermarket Type1



<br> create a new column 'sales_category' based on following condition:

<br> if Item_Outlet_Sales<= 1500 then 'low'
<br> if Item_Outlet_Sales>1500 and Item_Outlet_Sales<6000 then 'medium'
<br> else 'high'

```hint: use apply function```

In [32]:
df=data.drop("Item_Outlet_Sales",index=1)
data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1

### Ques 9 

calculate the sum of Item_Outlet_Sales group by Item_Type and Item_Fat_Content

In [34]:
import pandas as pd
data=pd.read_csv("C:/Users/tarun/Downloads/Outlet.csv")
data.head(10)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
5,FDP36,10.395,Regular,0.000000,Baking Goods,51.4008,OUT018,2009,Medium,Tier 3,Supermarket Type2,556.6088
6,FDO10,13.650,Regular,0.012741,Snack Foods,57.6588,OUT013,1987,High,Tier 3,Supermarket Type1,343.5528
7,FDP10,NaN,Low Fat,0.127470,Snack Foods,107.7622,OUT027,1985,Medium,Tier 3,Supermarket Type3,4022.7636
8,FDH17,16.200,Regular,0.016687,Frozen Foods,96.9726,OUT045,2002,NaN,Tier 2,Supermarket Type1,1076.5986
9,FDU28,19.200,Regular,0.094450,Frozen Foods,187.8214,OUT017,2007,NaN,Tier 2,Supermarket Type1,4710.5350

In [35]:
df1=data.groupby("Item_Fat_Content")["Item_Outlet_Sales"].sum()
som=df1.sort_values(ascending=False).head(10)
som

Item_Fat_Content
Low Fat    1.101503e+07
Regular    6.457454e+06
LF         6.552424e+05
low fat    2.338270e+05
reg        2.295765e+05
Name: Item_Outlet_Sales, dtype: float64

 

#calculate the mean of Item_MRP group by Outlet_Location_Type and Outlet_Size

In [3]:
import pandas as pd
data=pd.read_csv("C:/Users/tarun/Downloads/Outlet.csv")

mean_mrp = data.groupby(['Outlet_Location_Type', 'Outlet_Size'])['Item_MRP'].mean().reset_index()

# Display the result
print(mean_mrp)

  Outlet_Location_Type Outlet_Size    Item_MRP
0               Tier 1      Medium  140.297699
1               Tier 1       Small  141.235221
2               Tier 2       Small  143.122481
3               Tier 3        High  141.425982
4               Tier 3      Medium  140.736687

In [6]:
mrp=data.groupby(['Outlet_Location_Type','Outlet_Size'])['Item_MRP'].mean().reset_index()
mrp

  Outlet_Location_Type Outlet_Size    Item_MRP
0               Tier 1      Medium  140.297699
1               Tier 1       Small  141.235221
2               Tier 2       Small  143.122481
3               Tier 3        High  141.425982
4               Tier 3      Medium  140.736687



#calculate the min,max and median for Item_MRP and max, mean for Item_Visibility 
<br> ``` hint: use agg```

In [9]:

# Assuming you have a dataframe called df
# Group by 'Outlet_Location_Type' and 'Outlet_Size' and then apply aggregation
agg_result = data.groupby(['Outlet_Location_Type', 'Outlet_Size']).agg(
    Item_MRP_min=('Item_MRP', 'min'),
    Item_MRP_max=('Item_MRP', 'max'),
    Item_MRP_median=('Item_MRP', 'median'),
    Item_Visibility_max=('Item_Visibility', 'max'),
    Item_Visibility_mean=('Item_Visibility', 'mean')
).reset_index()

# Display the result
agg_result

,Outlet_Location_Type,Outlet_Size,Item_MRP_min,Item_MRP_max,Item_MRP_median,Item_Visibility_max,Item_Visibility_mean
0,Tier 1,Medium,32.4900,266.2884,141.8154,0.187850,0.060806
1,Tier 1,Small,32.4558,266.8884,143.8115,0.328391,0.077839
2,Tier 2,Small,32.0558,266.5884,145.9760,0.187523,0.061263
3,Tier 3,High,31.4900,266.6884,142.0470,0.185705,0.059957
4,Tier 3,Medium,31.2900,265.2884,142.0154,0.188323,0.059810